.sinonimo{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(1, 93, 199);
    border-radius: 10%;
    padding: 20%;
    text-align: center;
    color: rgb(23, 187, 236);;
    font-size: 32pt;
    list-style: none;
    list-style: none;
}
.lista-sinonimos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: repeat(5,1fr);
    gap: 30px
}
